{% extends "base.html" %}{% block ecomerce %}
{% comment %} <========= mensheader start ==========> {% endcomment %}
    <section class="mensheader mt-5">
        <div class="row">
            <header class="header">
            <h3>THIS IS MEN'S PAGE</h3>
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="true">
                <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/img/banner/arrival-bg.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/banner/p4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/banner/pexels1.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>



<p class="text-head w-50" style="position: absolute; top:400px; left: 600px; color: aliceblue; font-size: 20px; ">

This football-inspired skate top features lightweight and breathable two-way 
stretch fabric and a roomy fit, helping make movement a breeze. Nike Dri-FIT 
technology moves sweat away from your skin for quicker evaporation, 
helping you stay dry and comfortable.
</p>
            </header>
        </div>
    
    </section>



{% comment %} < =========== mensheader end {% endcomment %}


{% comment %} <======== mens category start ============> {% endcomment %}
<section class="mens">
    <div class="row">
        <div class=" col-md-6 container">
            {% for i in em %}
            <div class="mainmens">

                <img src="/media/{{i.image}}" alt="">
                <small class="text-brand text-danger">{{i.brand}}</small>
                <small class="text-p_n text-success">{{i.product_name}}</small>
                <div class="button">

                    <a href="" class="btn btn-outline-dark">Add To Cart</a>
                    <a href="" class="btn btn-outline-success ">Add To Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% comment %} <=========== mens category end ==========> {% endcomment %}
 {% endblock ecomerce %}